if SHIELD_REDSPLIT_LEFT
  config ZMK_KEYBOARD_NAME
    default "redsplit"

  config ZMK_SPLIT_ROLE_CENTRAL
    default y
endif


if SHIELD_REDSPLIT_RIGHT
  config I2C
    default y
endif


if SHIELD_REDSPLIT_LEFT || SHIELD_REDSPLIT_RIGHT
  CONFIG_MAIN_STACK_SIZE=4096
  CONFIG_INPUT_THREAD_STACK_SIZE=4096
  config ZMK_SPLIT
      default y

  config ZMK_POINTING
    default y

endif
